#spinBurger {
max-width: 20%;
margin-top: 3.5%;
margin-left: 40%;
/* opacity: .9; */
position: fixed;

}

#burger {
    /* display: flex;
    justify-content: center;
    margin-top: 9%; */
}


#signup {
    position: absolute;
    left: 80%;
    top: 50%;


}

#login {
    position: absolute;
    top: 50%;
    right: 80%;

}

#header{
    font-family: 'Rubik Vinyl', cursive;
    color: white;
    font-size: 150px;
    justify-content: center;
}