#cardDiv {
    position: absolute;
    top: 30%;
    right: 40%;
    opacity: .95;
    background-color: rgb(217, 68, 202);
    font-family: 'Rubik Vinyl', cursive;
    color: white;
    border-radius: 5%;
    
}


.card {
    justify-content: center;
    border-radius: 5%;
}

.edit {

}

#editModal {
    opacity: .9;
    display: flex;
    justify-content: center;
    margin-top: 15%;
}

#modalHeader {
    font-family: 'Rubik', sans-serif;
}

#submitButton {
    background-color: rgb(179, 9, 159);
    font-family: 'Rubik Vinyl', cursive;
}

#submitButton:hover {
    background-color: rgb(228, 17, 251);
    opacity: .9;
}

#cancelButton {
    font-family: 'Rubik Vinyl', cursive;
}