#reviewCard {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    max-width: 300px;
    align-items: center;

}

#reviewCardImg{
    max-width: 250px;
    max-height: 250px;

}