#reviewCard {
    /* display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    max-width: 350px;
    align-items: center; */
    max-width: 400px;
    display: flex;
    /* flex-direction: column;
    justify-content: center; */
    /* flex-direction: row; */
    z-index: 1;

}

#card {
    opacity: .88;
    background-color: rgb(217, 68, 202);

    display: flex;
    


}

#reviewCardImg{
    max-width: 250px;
    max-height: 250px;
    margin: auto;
}

#content {
    font-family: 'Rubik', sans-serif;
    color: rgb(255, 255, 255);
    
}

#info {
    font-family: 'Rubik Vinyl', cursive;
    color: white;
    
}

#info:hover {
    background-color: rgb(80, 5, 88);
}

#edit {
    font-family: 'Rubik Vinyl', cursive;
    color: white;
}

#edit:hover {
    background-color: rgb(4, 41, 120);
}

#delete {
    font-family: 'Rubik Vinyl', cursive;
    color: white;
}

#delete:hover {
    background-color: rgb(164, 3, 3);
    
}

#cardButtons {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}

